body{
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p, span, a, h1, h2, h3, h4, h5, h5, h7, hr{
    margin: 0;
    padding: 0;
}

#form1{
    width: 400px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url("bg/rose.jpeg");
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form1 div{
   width: 80%;
}


.inputArea{
    width: 100%;
    height: 20px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    padding: 5px 10px;

    font-size: 14px;
    margin-bottom: 10px;
}

#title1, label{
    text-transform: uppercase;
    font-weight: normal;
}

label{
    display: inline-block;
    font-size: 14px;
    margin: 7px;
}

#title{
    font-weight: normal;
}

#line1{
    border: 1px solid dodgerblue;
    width: 15%;
    margin-bottom: 15px;
}


#password1{
    background: rgba(255, 255, 255, 0.5);
    color: white;
}

#submit1{
    margin: 0;
    background-color: dodgerblue;
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 25px;
    border: none;

}

#checkbox1{
    width: 15px;
    height: auto;
}
#chb1 span{
    font-size: 12px;
}
#chb1{
    margin-bottom: 15px;
}

/*///////////////Form2*/
#form2{
    width: 320px;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    border: 5px solid #79ace5;

    text-align: center;

    margin-bottom: 40px;
}



#form2 input{
    width: 100%;
    padding: 10px 6px;
    outline: none;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid dodgerblue;

    margin-bottom: 30px;
}

#form2 input:focus{
    border-bottom: 2px solid red;
    font-size: 14px;
}

#form2 input:focus .label2{
    color: red;
}

#header2{
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
    background-image: url("bg/CirAndTri.png");
    background-position: center center;
    background-repeat: no-repeat;
}

#title2{
    font-weight: normal;
    color: dodgerblue;
    padding-top: 40px;
}

.label2{
    text-transform: none;
    color: white;
}

.inputArea2{
    text-align: left;
}


#submit2{
    width: 100%;
    height: 40px;
    background-color: dodgerblue;
    font-size: 16px;
    color: white;
    border: none;

    margin-top: 30px;
}

#submit2:hover{
    background-color: red;
}



